.drawerPaper {
    position: relative;
    white-space: nowrap;
    width: 200px;
}










.drawer {
    flex-shrink: 0 !important;
    height: 100vh;
}

.list {
    height: 100vh;
    padding-top: 40px !important;
}

.bottom-list-item {
    position: absolute !important;
    bottom: 0;
}

.list-item {
    margin-top: 5px !important;
}

.list-item-text {
    width: 20px !important;
    margin-left: 10px !important;
}

.shift-text {
    margin-left: 10px !important;
}

.icon-container {
    margin: 5px;
}

.icon {
    font-size: 15px;
    vertical-align: middle;
}

.beaker-icon {
    color: '#2ecc71' !important;
}

.db-icon {
    color: '#2ecc71';
}

.code-icon {
    color: '#2ecc71';
}

.settings-icon {
    color: 'red';
}
