.container {
    display: flex;
}

.drawer {
    flex-shrink: 0;
    height: 100vh;
}

.list {
    height: 100vh;
    padding-top: 40px !important;
}

.bottom-list-item {
    position: absolute !important;
    bottom: 0;
}
